        <div class="top-bar">
            <div class="hamburger-menu">
                <a href="#" class="hamburger-button"><i class="fa-solid fa-bars"></i></a>
            </div>
            <div class="logo">
                <a href="/"><img class="logo-img" src="/images/Logo.jpg" alt="Logo BySedna"></a>
            </div>
            <div class="search-icons">
                <div class="search-bar">
                    <input class="bar" type="text" placeholder="Buscar...">
                    <a href="/search"><i class="fa-solid fa-magnifying-glass"></i></a>
                </div>
                <div class="icons">
                    <a href="/login"><i class="fa-solid fa-user"></i></a>
                    <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>
        </div>