<div class="main-header">
    <div class="top-bar"> 
        <div class="logo">
            <a href="/"><img class="logo-img" src="/images/BySedna.png" alt="Logo BySedna"></a>
        </div>
        <div class="search-icons">
            <form class="search-bar" action="/products/search" method="GEt">
                <input class="bar" type="text" name="search" placeholder="Buscar...">
                <button type="submit" class="searchButton"><i class="fa-solid fa-magnifying-glass mx-auto"></i></button>
            </form>
            <div class="icons">
                <% if (locals.isLogged) { %>    <!-- si isLogged que es un middleware es true se muestra lo primero -->
                    <a href="/users/login"><i class="fa-solid fa-user"></i></a>
                    <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
                    <a href="/users/logout"><i class="fa-solid fa-right-from-bracket"></i></a>
                <% } else { %>
                <a href="/users/login"><i class="fa-solid fa-user"></i></a>
                <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
                <% } %> 
            </div>
        </div>
    </div>
</div>

