<!DOCTYPE html>
<html lang="es">

<head>
  <%- include ("./partials/head", {title: 'Detalle del producto' }) %>
</head>

<body>
  <header>
    <%- include ("./partials/header") %>
  </header>
  <main>

    <div class="imagen404">
        <a href="/"><img src="../images/404 Error-cuate.png"  alt="imagen404"></a>
    </div>
    

  </main>

  <footer>
    <%- include ("./partials/footer") %>
  </footer>

</body>