<!DOCTYPE html>
<html lang="es">

<head>
  <%- include ("./partials/head", {title: 'Detalle del producto' }) %>
</head>

<body>
  
  <header>
    <%- include ("./partials/header") %>
  </header>

  <main>

    <div>
      <main class="mainCreate">

        <div>
          <h3>Formulario de Creacion: </h3>
        </div>
        <br>
        <form action="/products/?_method=PUT" method="POST">
          <div>
            <label for="nombre">Nombre: </label>
            <input type="text" id="nombre" name="nombre" class="form-input">
          </div>
          <br>
          <div>
            <label for="precio">Precio: </label>
            <input type="text" id="precio" name="precio" class="form-input">
          </div>
          <br>
          <div>
            <label for="descuento">Descuento:</label>
            <input type="text" id="descuento" name="descuento" class="form-input">
          </div>
          <br>
          <div>
						<label for="talle" >Talle:</label>
						<select name="talle" id="talle" class="form-input" class="form-input">
							<option value="">Elegí</option>
							<option value="talleS">S</option>
							<option value="talleM">M</option>
              <option value="talleL">L</option>
							<option value="talleXL">XL</option>
						</select>
					</div>
          <br>
          <div class="col-12 col-md-6">
            <label for="image">Imagen:</label>
            <input type="file" name="image" class="form-input">
          </div>
          <br>
          <div>
            <label for="description" class="form-label">Descripción: </label>
						<textarea name="description" id="description" class="form-input">  </textarea>
          </div>
          <div>
						<button type="submit" class="buy-now-button">Guardar producto</button>
					</div>
          
        </form>
       

      </main>
    </div>

  </main>

  <footer>
    <%- include ("./partials/footer") %>
  </footer>

</body>

</html>