<!DOCTYPE html>
<html lang="es">

<head>
    <%- include ("./partials/head") %>
</head>

<body>
    <header class="main-header">
        <%- include ("./partials/header") %>
    </header>

    <main class="main-register">
        <h4>Crear cuenta</h4>
        <form class="form-register" action="/register" method="POST">
            <div>
                <input class="input-register" type="text" name="Nombre y apellido" id="Nombre y apellido"
                    placeholder="Nombre y apellido" required>
            </div>
            <br>
            <div>
                <input class="input-register" type="text" name="Nombre de usuari@" id="Nombre de usuari@"
                    placeholder="Nombre de usuari@" required>
            </div>
            <br>
            <div>
                <input class="input-register" type="text" name="Domicilio" id="Domicilio" placeholder="Domicilio"
                    required>
            </div>
            <br>
            <div>
                <input class="input-register" type="email" name="email" id="email" placeholder="Email" required>
            </div>
            <br>
            <div>
                <input class="input-register" type="tel" name="telefono" id="telefono" placeholder="Telefono" required>
            </div>
            <br>
            <div>
                <input class="input-register" type="password" name="Contraseña" id="Contraseña" placeholder="Contraseña"
                    required>
                <br>
            </div>
            <br>
            <div>
                <input class="input-register" type="password" name="Confirmar Contraseña" id="Confirmar Contraseña"
                    placeholder="Confirmar Contraseña" required>
                <br>
            </div>
            <br>
            <div class="buttons">
                <button class="button-register" type="reset">Borrar</button>
                <button class="button-register" type="submit">Enviar</button>
            </div>
        </form>
    </main>

    <footer>
        <%- include ("./partials/footer") %>
    </footer>
    
</body>

</html>