<!DOCTYPE html>
<html lang="es">

<head>
    <%- include ("./partials/head", {title: 'Login a ' }) %>
</head>

<body>
    <header class="main-header">
        <%- include ("./partials/header") %>
    </header>

    <main>
<br>
<br>
<br>
<br>
<p>Hola .... estas es tu pagina de usuario </p>

    </main>

    <footer>
        <%- include ("./partials/footer") %>
    </footer>
    
</body>

</html>