@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Roboto:wght@100;300;400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
/*Abre Header*/
.main-header{
    background-color: #AD8F8F;
}
.top-bar{
    align-items: center;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
.hamburger-button{
    color: white;
    padding: 15px 0;
    text-align: center;
    font-size: 2em;
}
.logo-img{
    max-width: 200px;
}
.search-icons{
    display: flex;
}
.search-bar{
    display: none;
}

.search-bar a{
    text-decoration: none;
    font-size: 1.5em;
    margin: 5px;
}

.bar::placeholder{
    color: white;
}

.bar{
    background-color: #AD8F8F;
    border: none;
    border-bottom: solid 2px white;
    font-size: 1em;
}
.bar:active{
    border: none;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.icons{
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
}
.icons a{
    margin: 5px;
    text-decoration: none;
    color: white;
}
/*Cierre Header*/

.main-banner{
    margin: auto;
    text-align: center;
    width: 100%;
    margin: auto;
}
.img-slider{
    margin: auto;
    width: 96%;
    height: 50vh;
    object-fit: cover;
}
.banner-overlay{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

} .main-banner:hover .img-slider{
    opacity: 35%;

}
.main-banner:hover .banner-overlay{
    display: block;
}

.oferta{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    width: 95%;
    background-color: thistle;
}
.oferta a, .temporada a{
    color: #7a7a7a;
} 
.temporada{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    width: 95%;
    background-color: thistle;
}
.product-oferta{
    max-width: 23%;
    margin: 0.5em;
    background-color: #d6f4e7;
}
.product-temporada{
    max-width: 45%;
    margin: 0.5em;
    background-color: #d6f4e7;
}
.product-img{
    padding: 1em;
}

/* footer */
.main-footer{ /* Temporal */
    margin-top: 100px;
    border: dotted 4px blueviolet;
}

.bod{
    padding-top: 20px;
    width: 80%;
    margin: auto;
    display: grid ;
    align-items: center;
    background: white ;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.contact-in{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: #fff;
    box-shadow: 0px 0px 10px 0px  #666;
    font-family: 'Poppins', sans-serif;
}

.contact-map{
    width: 100%;
    height: auto;
    flex: 50% ;
    padding: 15px;
}

.contact-map iframe{
    width: 100%;
    height: 100%;
}

.contact-form{
    width: 100%;
    height: auto;
    flex: 50% ;
    text-align: center;
}

.contact-form h1{
    margin-bottom: 10px; 
    font-family: 'Poppins', sans-serif;  
    color: #343434;
}

.contact-form-txt::placeholder{
    color:#aaa ;   
}

.contact-form-txt{
    width: 100%;
    height: 40px;
    color: #343434 ;
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
}

.contact-form-txtarea{
    width: 100%;
    height: 130px;
    color: #343434 ;
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
}

.contact-form-txtarea::placeholder{
    color:#aaa ;   
}

.contact-form-btn{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: #AD8F8F;
    text-transform: uppercase;
    padding: 10px 0;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.contact-form-btn:hover{
    color: white;
    opacity: 0.8;
    font-family: 'Poppins', sans-serif;
}



/* footer 2 */
.footer_fondo{
    width: 100% ;
    padding: 5px 0px;
    background-image: url(../images/background-footer-svg.svg);
    background-size: cover;
}

.container_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 80px;
}

.box_footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box_footer .logo_footer img{
    width: 120px;
}

.box_footer .terms {
    font-family: 'Poppins', sans-serif;
    max-width: 350px;
    margin-top: 10px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px; 
}

.box_footer h2{
    font-size: 20px;
    margin-bottom: 10px;
    color: #343434;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.box_footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-family: 'Poppins', sans-serif;
}

.box_footer a:hover{
    color: white;
    opacity: 0.8;
}

.box_footer a .fab{
    font-size: 20px;

}

.box_copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box_copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}
.box_copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
} 

a:link, a:visited, a:active {
    text-decoration:none;
}

/*login*/

.main-login{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.form-login{
    width: 30%;
}

.register-from-login{
    width: 35%;
    padding-left: 100px;
}

.input-login{
    padding: 4.5px;
    margin: 4px 4px 4px 0;
    border: 1px solid #bcbcbc;
    border-radius: 5px;
    width: 70%;
}

.text-register{
    width: 80%;
    margin: 0;
}

.button-login{
    margin: 10px 10px 10px 0;
    border: 1px solid black;
    padding: 2px;
}


/* Register*/

.main-register{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    margin: 50px;
}

.input-register{
    padding: 5px;
    border: 1px solid #bcbcbc;
    border-radius: 5px;
    width: 300px;
}

.button-register{
    border: 1px solid black;
    padding: 2px;
}

.recuperarContraseña{
    font-size: 14px;
}

.check-recordadUsuario{
    font-size: 12px;
}

.check-recordadUsuario input{
    vertical-align: bottom;
    position: relative;
    top: -3px;
}


/* Cart */

.body_cart {
    width: 1229.2px;
    /*padding: 0 8.5px;*/
    margin: auto;
}

.user_cart {
    background-color: #ede4d5;
    padding: 1em 1em 90px 1em;
    height: 100%;
    width: 100%;
    margin: auto;
}

.user_cart p {
    background-color: white;
    border: solid 1px black;
    width: 243.2px;
    padding: 20px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin-top: -20px;
    transition: all .2s linear;
    transition-delay: 0s;
}

#black-arrow {
    margin-left: 15px;
}

.user_cart-upper-section {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.user_cart-upper-section h3{
    font-weight: 400;
    font-size: 18px;
}

.nav_bar {
    width: 22%;
    font-weight: 400;
}

.currency-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.currencies {
    color: black;
    text-decoration: none;
}

.currencies:visited {
    color: black;
    font-weight: 400;
    text-decoration: none;
}

.user_cart-status {
    font-size: 54px;
    font-weight: 400;
    margin-top: 15px;
}

.user_cart-button-to-home {
    width: 243.2px;
    margin-top: 60px;
}

.user_cart-button-to-home p {
    font-size: 15px;
    padding: 16px 0;
}

.products_viewed {
    margin: 90px 0 125px 17px;
}

.title-section {
    font-weight: 400;
    font-size: 30px;
}

.post-purchasement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.shipping-returns {
    width: 49.25%;
}

.shipping {
    background-color: #f9cbcd;
    height: 212.5px;
    padding: 25px 0 20px 25px;
}

.returns {
    background-color: #d6f4e7;
    height: 212.5px;
    padding: 25px 0 20px 25px; /*150px*/
}

.shipping p, .returns p {
    font-weight: 0;
    font-size: 15px;
    line-height: 1.5;
    max-width: 78%;
}

.shipping p {
    margin-top: 75px;
}

.returns p {
    margin-top: 30px;
}

.newsletter {
    margin-top: 18px;
    background-color: #bdd7f0;
    border-bottom: solid 1px black;
    height: 374.7px;
    font-weight: 400;
}

.newsletter_text {
    font-size: 32px;
    text-align: center;
    line-height: 1.2;
    width: 795px;
    height: 91.2px;
    margin: auto;
    padding: 80px 0 0 0;
    font-weight: 400;
    
}

.newsletter_form {
    display: flex;
    justify-content: space-between;
    width: 40%;
    border-bottom: solid 1px black;
    margin: auto;
    padding-top: 162px;
}

.newsletter_email-adress {
    color: black;
    border: none;
    font-size: 18px;
    font-weight: 400;
    padding: 0;
    width: 330px;
    outline: none;
    margin-top: 0px;
    background-color: #bdd7f0;
}

.newsletter_email-adress:focus {
    background-color: #bdd7f0;
    border: none;
    padding: none;
    font-weight: 200;
    font-size: 14px;
}

.newsletter_sign-up {
    font-weight: 400;
    font-size: 16px;
    padding: 0;
}

.newsletter_email-adress::placeholder {
    color: black;
    font-weight: 200;
    font-size: 16px;
    background-color: #bdd7f0;
    border: none;
    padding: 0;
    margin-top: 100px;
}

.images_cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: solid 1px black;
    margin-top: 18px;
    padding-bottom: 18px;
}

.images_cart-position {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.image_bottom-radius, .image_upper-radius, .image_complete-radius, .image_normal {
    width: 23.9%;
    height: 408px;
    padding: 0;
} 

.image_bottom-radius {
    border-radius: 0 0 50% 50%;
}

.image_upper-radius {
    border-radius: 50% 50% 0 0;
}

.image_complete-radius {
    border-radius: 30%;
}
/* Detail*/

.product-detail{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.product-title-detail{
    font-size: 30px;
}
.product-description-full-content{
    display:flex;
    flex-direction: column;
    width: 30%;
}
.product-price-detail{
font-size: 25px;
}
.product-discount-detail{
    font-size: 17px;
}
.product-img-detail{
    width: 30%;
}
.buy-button{
    background-color: var(--light-blue);
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

/*media query*/

@media (min-width:769px) {
    .search-bar{
        display: block;
    }   
}

@media (max-width:768px){
    .main-login{
        flex-direction: column;
        text-align: center;
    }
    

    .input-login{
        width: 80%;
        padding: 4.5px;
        margin: 4px 4px 4px 0;
        border: 1px solid #bcbcbc;
        border-radius: 5px;
        text-align: center;
    }
    .form-login{
        width: 99%;
    }
    
    .register-from-login{
        align-items: center;
        width: 100%;
        padding: 0px;
        margin-top: 25px;
    }
    
    .text-register{
        width: 99%;
    }

    .input-register{
        width: 99%;
    }
}