@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Roboto:wght@100;300;400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
/*Abre Header*/
.main-header{
    background-color: #AD8F8F;
}
.top-bar{
    align-items: center;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
}
.hamburger-button{
    color: white;
    padding: 15px 0;
    text-align: center;
    font-size: 2em;
}
.logo-img{
    max-width: 200px;
}
.search-icons{
    display: flex;
}
.search-bar{
    color: white;
    display: none;
}
.search-bar input{
    color: white;
}
.search-bar a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    margin: 5px;
}
::placeholder {
    color: white;
  }
.bar{
    color: white;
    background-color: #AD8F8F;
    border: none;
    border-bottom: solid 2px white;
    font-size: 1em;
}
.bar:active{
    border: none;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.icons{
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
}
.icons a{
    margin: 5px;
    text-decoration: none;
    color: white;
}
/*Cierre Header*/

.img{
    max-width: 100%;
}
.main-banner{
    background-color: rgba(128, 128, 128, .5);
    text-align: center;
    width: 90%;
    margin: auto;
}
.banner-overlay{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

} .main-banner:hover .img-slider{
    opacity: 35%;

}
.main-banner:hover .banner-overlay{
    display: block;
}

@media (min-width:768px) {
    .search-bar{
        display: block;
    }
}